<footer class="main-footer">
    <strong>
        Copyright &copy;
        @DateTime.Now.Year
        <a href="#">Personel Tayin Sistemi</a>.
    </strong>
    Tüm hakları saklıdır.
    <div class="float-right d-none d-sm-inline-block">
        <b>Sürüm</b> 1.0.0
    </div>
</footer>
